doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    title LiFE
  body 
    nav.navbar.bg-dark
      .container-fluid
        a(href = "/").navbar-brand
          img(src="/images/favicon.ico" alt="logo" width="30" height="24")#logo.d-inline-block.align-text-bottom
          span#nav-title LiFE
    .container-md
      nav#dir.fs-4
      .dropdown.mb-1
        button(type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside").btn.dropdown-toggle
          img(src="/images/upload.svg" alt="upload").me-2
          |Upload
        form(method="post" enctype="multipart/form-data" )#upload.dropdown-menu.p-0
          .d-inline-flex
            input(type="file" name="fileUploaded").form-control#fileInput
            button(type="submit").btn.btn-light#fileSubmit Submit
      table.table.table-bordered.text-center.table-hover.align-middle
    .toast-container.position-fixed.bottom-0.end-0.p-3
      #toast.toast.align-items-center
        .d-flex 
          .toast-body
          button(type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js") 
    script.
      var json = !{JSON.stringify(json)};
      var cur_dir = '#{cur_dir}';
    script(src="/javascripts/index.js") 

