doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    title Light File Explorer
  body 
    h1.display-2.text-center Current Directory #{cur_dir}
    .container-md
      table.table.table-bordered.text-center.table-hover.align-middle
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js") 
    script.
      var json = !{JSON.stringify(json)};
    script(src="/javascripts/index.js") 

