body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

#dir {
    margin-top: 60px;
    margin-bottom: 15px;
    --bs-breadcrumb-divider: '>';
}

#dir a {
    color: gray;
    text-decoration: none;
}

#dir li:last-child {
    color: black;
    font-weight: bold;
}

#logo {
    margin-right: 20px;
}

#nav-title {
    color: white;
    font-style: italic;
}

.dropdown-toggle::after {
    margin-left: 0.5rem;
}

td.icon,
td.dropdown > a {
    padding-left: 0;
    padding-right: 0;
}

td.dropdown {
    padding: 0;
}

td a.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    min-width: 0;
}

#dropdownMenuLink {
    display: block;
    height: 100%;
}

.toast {
    --bs-toast-max-width: 200px;
}

@media (max-width: 767.98px) {
    .auth {
        display: none;
    }
    #dir {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    td.icon,
    td.download {
        padding-left: 3px;
        padding-right: 3px;
    }
}
